In [2]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
 9   High_BloodPressure        768 non-null    int64
dtypes: float64(2), int64(8)
memory usage: 60.1 KB

In [22]:
df['BloodPressure'].min()

0

In [ ]:
# it appears that some women have a blood pressure of 0 which is obviusly impossible  therefore it must be a null
# lets get rid of them

In [24]:
blood_pressure_exist = df[df['BloodPressure']!=0]
blood_pressure_exist =blood_pressure_exist['BloodPressure']
blood_pressure_exist

0      72
1      66
2      64
3      66
4      40
       ..
763    76
764    70
765    72
766    60
767    70
Name: BloodPressure, Length: 733, dtype: int64

In [ ]:
# I looked it up and diastolic pressure(what we have) above 80 is considered high blood pressure
# so lets make a column of high blood pressure.

In [30]:
df['High_BloodPressure']=df['BloodPressure'].apply(lambda x:1 if x>=80 else 0)
df['High_BloodPressure'].value_counts()

0    563
1    205
Name: High_BloodPressure, dtype: int64

In [33]:
# I also found that a bmi between 25-30(not including 30) is overweight and 30+ is obese so lets make columns for these too

In [34]:
df['Overwieght']=df['BMI'].apply(lambda x:1 if x<30 and x>=25 else 0)
df['Overwieght'].value_counts()

0    589
1    179
Name: Overwieght, dtype: int64

In [35]:
df['Obese']=df['BMI'].apply(lambda x:1 if x>=30 else 0)
df['Obese'].value_counts()

1    472
0    296
Name: Obese, dtype: int64