In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler

In [3]:
df=pd.read_csv('Cleaned_Diabetes.csv',index_col=0)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,High_BloodPressure,Weight,Elderly,Glucose_Level,Thickness_level
0,6,148,72,35,125.0,33.6,0.627,50,1,0,Obese,0,high_glucose_levels,4
1,1,85,66,29,125.0,26.6,0.351,31,0,0,Healthy,0,normal_glucose_levels,3
2,8,183,64,32,125.0,23.3,0.672,32,1,0,Healthy,0,high_glucose_levels,4
3,1,89,66,23,94.0,28.1,0.167,21,0,0,Healthy,0,normal_glucose_levels,3
4,0,137,40,35,168.0,43.1,2.288,33,1,0,Obese,0,high_glucose_levels,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180.0,32.9,0.171,63,0,0,Obese,0,normal_glucose_levels,5
764,2,122,70,27,125.0,36.8,0.340,27,0,0,Obese,0,normal_glucose_levels,3
765,5,121,72,23,112.0,26.2,0.245,30,0,0,Healthy,0,normal_glucose_levels,3
766,1,126,60,32,125.0,30.1,0.349,47,1,0,Obese,0,normal_glucose_levels,4
767,1,93,70,31,125.0,30.4,0.315,23,0,0,Obese,0,normal_glucose_levels,4

In [4]:
numerical_columns = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age',
       'High_BloodPressure',
       'Thickness_level']

In [5]:
df_n = pd.get_dummies(df)

X = df_n.drop(['Outcome'], axis=1)
y = df_n['Outcome'].values


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=25)

X_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,High_BloodPressure,Elderly,Thickness_level,Weight_Healthy,Weight_Obese,Weight_UnderWeight,Glucose_Level_high_glucose_levels,Glucose_Level_low_glucose_levels,Glucose_Level_normal_glucose_levels
118,4,97,60,23,125.0,28.2,0.443,22,0,0,3,1,0,0,0,0,1
336,0,117,0,32,125.0,33.8,0.932,44,0,0,4,0,1,0,0,0,1
374,2,122,52,43,158.0,36.2,0.816,28,0,0,5,0,1,0,0,0,1
518,13,76,60,32,125.0,32.8,0.180,41,0,0,4,0,1,0,0,0,1
716,3,173,78,39,185.0,33.8,0.970,31,0,0,4,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,3,182,74,32,125.0,30.5,0.345,29,0,0,4,0,1,0,1,0,0
143,10,108,66,32,125.0,32.4,0.272,42,0,0,4,0,1,0,0,0,1
474,4,114,64,32,125.0,28.9,0.126,24,0,0,4,1,0,0,0,0,1
318,3,115,66,39,140.0,38.1,0.150,28,0,0,4,0,1,0,0,0,1
132,3,170,64,37,225.0,34.5,0.356,30,0,0,4,0,1,0,1,0,0

In [6]:
standard = StandardScaler()

X_test_stand = X_test.copy()
X_train_stand = X_train.copy()
y_train_stand = y_train.copy()
y_test_stand = y_test.copy()


X_train_stand[numerical_columns] = standard.fit_transform(X_train_stand[numerical_columns])
X_test_stand[numerical_columns] = standard.transform(X_test_stand[numerical_columns])

In [29]:
normal = MinMaxScaler()

X_test_norm = X_test.copy()
X_train_norm = X_train.copy()

X_train_norm[numerical_columns] = normal.fit_transform(X_train_norm[numerical_columns])
X_test_norm[numerical_columns] = normal.transform(X_test_norm[numerical_columns])

In [7]:
#split it again since we cant use the real train

In [8]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(X_train_stand,y_train, test_size=0.2, random_state=25)

In [9]:
tt = {}
il = []
ac=[]
for  i in range(1,100):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train2,y_train2)
    y_pred = knn.predict(X_test2)
    il.append(i)
    ac.append( sklearn.metrics.roc_auc_score(y_test2,y_pred) )
    tt.update({'K':il})
    tt.update({'ROC_ACC':ac})
vv = pd.DataFrame(tt)
vv.sort_values('ROC_ACC',ascending=False,inplace=True,ignore_index=True)
vv.head(10)

    K   ROC_ACC
0   3  0.650959
1  93  0.646301
2  92  0.636301
3  77  0.636301
4  76  0.636301
5  87  0.636301
6  91  0.636301
7  78  0.636301
8  97  0.636301
9   1  0.630411

In [10]:
# as you can see roc acc is at most 0.65 without cross val(not very high)
#now lets try cross val"

In [30]:
#best k is 32
k = []
k.append(0)
ind=range(1,101)

for  i in range(1,100):
    knn = KNeighborsClassifier(n_neighbors=i)
    score=cross_val_score(knn,X_train_norm,y_train,cv=10,scoring='accuracy')
    k.append(score.mean())
d = {'score': k, 'k': ind}
dfd = pd.DataFrame(data=d)
dfd['score'].sort_values(ascending=False)

31    0.726415
37    0.726388
32    0.724749
39    0.724749
33    0.723136
        ...
74    0.683897
76    0.683818
79    0.677472
78    0.672501
0     0.000000
Name: score, Length: 100, dtype: float64

In [15]:
#best k is 32
k = []
k.append(0)
ind=range(1,101)

for  i in range(1,100):
    knn = KNeighborsClassifier(n_neighbors=i)
    score=cross_val_score(knn,X_train_stand,y_train,cv=10,scoring='accuracy')
    k.append(score.mean())
d = {'score': k, 'k': ind}
dfd = pd.DataFrame(data=d)
dfd['score'].sort_values(ascending=False)

32    0.757218
37    0.755579
33    0.755579
15    0.754072
14    0.754045
        ...
5     0.713353
6     0.710180
3     0.701957
1     0.680804
0     0.000000
Name: score, Length: 100, dtype: float64

In [22]:
# trying feature selection so we can improve our score

# feature selection
def select_features(X_train, y_train, X_test,i):
    
    # configure to select a subset of features
    fs = SelectKBest(score_func=f_regression, k=i)
    
    # learn relationship from training data
    fs.fit(X_train, y_train)
    
    # transform train input data
    X_train_fs = fs.transform(X_train)
    
    # transform test input data
    X_test_fs = fs.transform(X_test)
    
    return X_train_fs, X_test_fs, fs

In [23]:
def find_best_score(arr,r):
    maxn=-100
    maxI=0
    for i in range(r):
        if(maxn<arr[i]):
            maxn=arr[i]
            maxI=i+1
    return maxn

In [24]:
def find_best(arr,r):
    maxn=-100
    maxI=0
    for i in range(r):
        if(maxn<arr[i]):
            maxn=arr[i]
            maxI=i+1
    return maxI

In [ ]:
modelIkn=[]
modelIkn.append(0)
modelIndexn=range(0,14)
for i in range(1,14):
    X_train_fsn, X_test_fsn, fsn = select_features(X_train_norm, y_train, X_test,i)
    modelIn=[]
    
    for j in range(1,100):
        knn = KNeighborsClassifier(n_neighbors=j)
        knn.fit(X_train_fs,y_train)

        model_improved = np.mean(cross_val_score(knn, X_train_fsn, y_train, scoring='accuracy', cv=10))
        modelIn.append(model_improved)
    modelIkn.append(find_best_score(modelIn,99))

print("done")

In [58]:
dfmaken = {'score': modelIkn, 'k': modelIndexn}
dfsmalln = pd.DataFrame(data=dfmaken)
dfsmalln['score'].sort_values(ascending=False)

6     0.771973
7     0.770360
8     0.770333
10    0.768694
11    0.767213
5     0.767107
12    0.765389
13    0.765389
9     0.762189
4     0.760603
3     0.745928
1     0.744342
2     0.744342
0     0.000000
Name: score, dtype: float64

In [55]:
X_train_fsn, X_test_fsn, fsn = select_features(X_train_norm, y_train, X_test,6)

k2n = []
indn=[]
indn=range(1,100)

for  i in range(1,100):
    knn = KNeighborsClassifier(n_neighbors=i)
    score=cross_val_score(knn,X_train_fsn,y_train,cv=10,scoring='accuracy')
    k2n.append(score.mean())
d2n = {'score': k2n, 'k': indn}
dfd2n = pd.DataFrame(data=d2n)
dfd2n['score'].sort_values(ascending=False)

96    0.771973
98    0.770333
97    0.770333
95    0.770333
93    0.770333
        ...
3     0.723162
13    0.716843
2     0.710100
1     0.703755
0     0.684082
Name: score, Length: 99, dtype: float64

In [45]:
modelIk=[]
modelIk.append(0)
modelIndex=range(0,14)
for i in range(1,14):
    X_train_fs, X_test_fs, fs = select_features(X_train_stand, y_train, X_test,i)
    modelI=[]
    
    for j in range(1,100):
        knn = KNeighborsClassifier(n_neighbors=j)
        knn.fit(X_train_fs,y_train)

        model_improved = np.mean(cross_val_score(knn, X_train_fs, y_train, scoring='accuracy', cv=10))
        modelI.append(model_improved)
    modelIk.append(find_best_score(modelI,99))

print("done")

done

In [59]:
# as we can see bellow the best k is 9

In [46]:
dfmake = {'score': modelIk, 'k': modelIndex}
dfsmall = pd.DataFrame(data=dfmake)
dfsmall['score'].sort_values(ascending=False)

9     0.780090
10    0.776838
11    0.773506
12    0.773506
13    0.773506
8     0.772025
5     0.771973
6     0.768747
7     0.768747
4     0.760576
2     0.742676
3     0.742676
1     0.741089
0     0.000000
Name: score, dtype: float64

In [61]:
X_train_fs, X_test_fs, fs = select_features(X_train_stand, y_train, X_test,9)

k2 = []
ind=[]
ind=range(1,100)

for  i in range(1,100):
    knn = KNeighborsClassifier(n_neighbors=i)
    score=cross_val_score(knn,X_train_fs,y_train,cv=10,scoring='accuracy')
    k2.append(score.mean())
d2 = {'score': k2, 'k': ind}
dfd2 = pd.DataFrame(data=d2)
dfd2['score'].sort_values(ascending=False)

37    0.780090
36    0.778477
38    0.778477
35    0.776864
42    0.775278
        ...
3     0.739450
9     0.736198
7     0.736198
0     0.729614
1     0.729561
Name: score, Length: 99, dtype: float64

In [ ]:
#we see that stand is better for our model